/* Other rules */
body {
  background-color: #f2f5f5;
}
.app {
  max-width: 1024px;
  margin: auto;
  /* background-color: #f2f5f5; */
  /* padding: 10px; */
}
.container {
  display: flex;
  /* background-color: antiquewhite; */
}

.logo img {
  height: 80px;
  width: 120px;
  object-fit: contain;
}

header {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.headerContent {
  display: flex;
}

header img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.meal {
  /* flex: 50%; */
  box-sizing: content-box;
  padding: 10px;
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.meal img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.categoryBlock {
  display: flex;
  flex-wrap: wrap;
  /* background-color: yellow; */
}

.populaire {
  color: rgb(255, 128, 0);
}

.panierBlock {
  background-color: white;
  flex: 30%;
  height: 200px;
  margin-top: 70px;
  border-radius: 5px;
}
.panierBlock p {
  text-align: center;
}
.menuBlock {
  flex: 80%;
}
